<div *ngIf="node">
  <ng-container *ngTemplateOutlet="treeViewList; context:{$implicit:[node]}"></ng-container>  
  <ng-template #treeViewList let-list>
    <ul>
       <li *ngFor="let node of list;let i = index">
        <span *ngIf="this.collapsible && node.children.length > 0">
          <a *ngIf= "!node.open" (click)="node.open = true">+</a>
          <a *ngIf=  "node.open" (click)="node.open = false">-</a>
        </span>
        <input *ngIf="selectable" [id]="node.source +'_'+ i" type="checkbox" [checked]="node.selected"/>
        <label [for]="node.source +'_'+ i">{{node.source}}</label>
        <div *ngIf="!collapsible || node.open">
          <ng-container *ngTemplateOutlet="treeViewList; context:{$implicit: node.children}"></ng-container>
        </div>
       </li>
     </ul>
  </ng-template>
</div>